* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #ff4ecd, #6a5cff, #00d4ff, #00ff9d);
    background-size: 400% 400%;
    animation: move 10s infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@keyframes move {
    0% {background-position:0%}
    50% {background-position:100%}
    100% {background-position:0%}
}

.box {
    background: rgba(255,255,255,0.15);
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
}

button {
    background: #ff512f;
    color: white;
}

a {
    color: yellow;
    display: block;
    margin-top: 10px;
}
/* DASHBOARD LAYOUT */
.dashboard {
    display: flex;
    gap: 20px;
}

/* LEFT PROFILE */
.profile {
    flex: 1;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

/* RIGHT DETAILS */
.details {
    flex: 2;
    background: rgba(255,255,255,0.15);
    padding: 20px;
    border-radius: 15px;
}

/* DETAIL ROWS */
.details p {
    margin: 10px 0;
    text-align: left;
}